@import "../node_modules/nib"

.ghost-mouse-disabler
  disabler-size = 100px

  background: rgba(#000, 0.1)
  border-radius: 50%
  display: none
  height: disabler-size
  margin: (disabler-size / -2) 0 0 (disabler-size / -2)
  position: absolute
  width: disabler-size
  z-index: 9

  &:active
    background: rgba(red, 0.25)

  .ghost-mouse-active &
    display: block

.ghost-mouse
  size = 25px

  background: rgba(black, 0.5)
  background: linear-gradient(top, rgba(black, 0.33), rgba(black, 0.67))
  border: 2px solid white
  box-sizing: border-box
  border-radius: 50%
  box-shadow: 0 5px 3px rgba(black, 0.33)
  height: size
  left: 0
  margin: (size / -2) 0 0 (size / -2)
  opacity: 0
  pointer-events: none
  position: absolute
  top: 0
  transform: scale(4)
  transition:
    box-shadow 0.125s ease-in-out,
    opacity 0.25s ease-in-out 0.25s,
    margin 0.125s ease-in-out,
    transform 0.75s ease-in-out
  width: size
  z-index: 9

  &.inverted
    background: rgba(white, 0.5)
    background: linear-gradient(top, rgba(white, 0.33), rgba(white, 0.67))
    border-color: black

  &.active
    opacity: 1
    transform: scale(1)

  &.down
    background: rgba(red, 0.67)
    background: linear-gradient(top, rgba(red, 0.5), rgba(red, 0.75))
    box-shadow: 0 1px 2px rgba(black, 0.67)
    margin-top: (size / -2) + 2
